
body {
  font-family: "Arial", sans-serif;
  background-color: #ECEEEE;
  margin: 10px 0;
}


.board {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
  padding-right: 25px;
  margin: 0;
}

.column {
  flex: 1;
  margin-left: 25px;
}

.column .column-title {
  text-align: center;
  height: 30px;
  vertical-align: middle;
  font-size: 1.5rem;
}

.card {
  background-color: white;
  margin: 10px 0;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .dummy,a {
  width: 24px;
  flex-grow: 0;
}

.card-text {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
}

.add-card {
  display: flex;
  justify-content: center;
}

.add-card > button {
  border: none;
  outline: none;
  background-color: #486;
  color: white;
  padding: 10px;
  font-size: 1.5rem;
  font-family: "Arial", sans-serif;
}